# Firebase Config (Frontend)
VITE_apiKey=
VITE_authDomain=
VITE_projectId=
VITE_storageBucket=
VITE_messagingSenderId=
VITE_appId=

# Image Hosting Key
VITE_img_hosting_key=

# Payment Gateway Public Key
VITE_Payment_Gateway_PK=

